In [1]:
pip install pickle

Defaulting to user installation because normal site-packages is not writeable
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [2]:
import pandas as pd
import numpy as np
import pickle

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("Cars Dataset.csv")

In [4]:
df

,Model,Year,Km/h,Color,Type,Fuel,Price
0,Hyundai Elantra HD,2009.0,"165,000",Gray,Automatic,Gasoline,"560,000"
1,Hyundai Elantra,2010.0,"194,000",Black,Automatic,Gasoline,"600,000"
2,Hyundai Elantra HD,2010.0,"205,000",Silver,Automatic,Gasoline,"575,000"
3,Hyundai Elantra,2010.0,"160,000",Black,Automatic,Gasoline,"550,000"
4,Hyundai Elantra,2009.0,"140,451",Eggplant,Automatic,Gasoline,"650,000"
...,...,...,...,...,...,...,...
952,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.head(2)

                Model    Year    Km/h   Color       Type      Fuel    Price
0  Hyundai Elantra HD  2009.0  165,000   Gray  Automatic  Gasoline  560,000
1     Hyundai Elantra  2010.0  194,000  Black  Automatic  Gasoline  600,000

In [6]:
df.tail(2)

    Model  Year  Km/h  Color Type Fuel Price
955   NaN   NaN    NaN   NaN  NaN  NaN   NaN
956   NaN   NaN    NaN   NaN  NaN  NaN   NaN

In [7]:
print(f"Number of rows {df.shape[0]}, Number of columns {df.shape[1]}")
print(df.shape)

Number of rows 957, Number of columns 7
(957, 7)

In [8]:
print("-- Attributes in Data --")
for cols in df.columns:
    print(cols)

-- Attributes in Data --
Model
Year
 Km/h
Color
Type
Fuel
Price

In [9]:
print("-- Number of instances in Data --")
print(df.count())

-- Number of instances in Data --
Model     599
Year      599
 Km/h     599
Color     599
Type      599
Fuel      599
Price     599
dtype: int64

In [10]:
print("-- Number of Unique Values in Data --")
print(df.nunique())

-- Number of Unique Values in Data --
Model     195
Year       19
 Km/h     248
Color      25
Type        2
Fuel        4
Price     271
dtype: int64

In [11]:
print("-- Number of Null Values in Data --")
print(df.isnull().sum())

-- Number of Null Values in Data --
Model     358
Year      358
 Km/h     358
Color     358
Type      358
Fuel      358
Price     358
dtype: int64

In [12]:
print("-- Details of Data --")
df.describe()

-- Details of Data --

               Year
count    599.000000
mean    2048.323873
std      743.895065
min     2008.000000
25%     2014.000000
50%     2019.000000
75%     2022.000000
max    20224.000000

In [13]:
print("-- Insights of Data --")
df.info()

-- Insights of Data --
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 957 entries, 0 to 956
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Model   599 non-null    object
 1   Year    599 non-null    float64
 2    Km/h   599 non-null    object
 3   Color   599 non-null    object
 4   Type    599 non-null    object
 5   Fuel    599 non-null    object
 6   Price   599 non-null    object
dtypes: float64(1), object(6)
memory usage: 52.5+ KB

In [14]:
print("-- Number of Null Values in Data --")
print(df.isnull().sum())

-- Number of Null Values in Data --
Model     358
Year      358
 Km/h     358
Color     358
Type      358
Fuel      358
Price     358
dtype: int64

In [16]:
df.isnull().sum()

Model     358
Year      358
 Km/h     358
Color     358
Type      358
Fuel      358
Price     358
dtype: int64

In [17]:
print("-- Insights of Data --")
df.info()

-- Insights of Data --
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 957 entries, 0 to 956
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Model   599 non-null    object
 1   Year    599 non-null    float64
 2    Km/h   599 non-null    object
 3   Color   599 non-null    object
 4   Type    599 non-null    object
 5   Fuel    599 non-null    object
 6   Price   599 non-null    object
dtypes: float64(1), object(6)
memory usage: 52.5+ KB